<div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden" style='font-family: Inter, "Noto Sans", sans-serif;'>
    <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#f0f2f5] px-10 py-3">
            <div class="flex items-center gap-4 text-[#111418]">
                <div class="size-4">
                    <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_6_319)">
                            <path
                                d="M8.57829 8.57829C5.52816 11.6284 3.451 15.5145 2.60947 19.7452C1.76794 23.9758 2.19984 28.361 3.85056 32.3462C5.50128 36.3314 8.29667 39.7376 11.8832 42.134C15.4698 44.5305 19.6865 45.8096 24 45.8096C28.3135 45.8096 32.5302 44.5305 36.1168 42.134C39.7033 39.7375 42.4987 36.3314 44.1494 32.3462C45.8002 28.361 46.2321 23.9758 45.3905 19.7452C44.549 15.5145 42.4718 11.6284 39.4217 8.57829L24 24L8.57829 8.57829Z"
                                fill="currentColor"
                            ></path>
                        </g>
                        <defs>
                            <clipPath id="clip0_6_319"><rect width="48" height="48" fill="white"></rect></clipPath>
                        </defs>
                    </svg>
                </div>
                <h2 class="text-[#111418] text-lg font-bold leading-tight tracking-[-0.015em]">SKUpoint</h2>
            </div>
            <div class="flex flex-1 justify-end gap-8">
                <div class="flex items-center gap-9">
                    <a class="text-[#111418] text-sm font-medium leading-normal" href="/dashboard">Dashboard</a>
                    <a class="text-[#111418] text-sm font-medium leading-normal" href="#">Products</a>
                    <a class="text-[#111418] text-sm font-medium leading-normal" href="#">Activities</a>
                </div>
                <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#f0f2f5] text-[#111418] text-sm font-bold leading-normal tracking-[0.015em]"
                >
                    <span class="truncate">New product</span>
                </button>
                <div
                    class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuB7LxmuqwjK75Y4UulRGMiIbwp3ggm71D-ZHql8PL55f7n3Q4ey_n9h5Q92ra9X4gSTWuwH4AFSJeYjn-do09a-iT8Z2hTnt0gJFUwm03F1odbUESP_R13hQNbkg0HhhIAHvWmin5MMgioSyYP8dz-dU-OA36uZz1-Acp3J0nkfhQmWVo8u_aodw039O8UgoeujOQ28Svh20VJvsTa1fKyJ4XKM8UM12k7BUVAuzSLTEgEkf1OZMTvKSwalIs-7XNLpwsX1WYX-FIY");'
                ></div>
            </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
            <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
                <div class="flex flex-wrap justify-between gap-3 p-4">
                    <div class="flex min-w-72 flex-col gap-3">
                        <p class="text-[#111418] tracking-light text-[32px] font-bold leading-tight">New product</p>
                        <p class="text-[#60748a] text-sm font-normal leading-normal">This information will be displayed publicly so be careful what you share.</p>
                    </div>
                </div>
                <h3 class="text-[#111418] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">General information</h3>
                <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                    <label class="flex flex-col min-w-40 flex-1">
                        <p class="text-[#111418] text-base font-medium leading-normal pb-2">Name</p>
                        <input
                            placeholder="e.g. Awesome T-Shirt"
                            class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#111418] focus:outline-0 focus:ring-0 border border-[#dbe0e6] bg-white focus:border-[#dbe0e6] h-14 placeholder:text-[#60748a] p-[15px] text-base font-normal leading-normal"
                            [(ngModel)]="product.name"
                        />
                    </label>
                </div>
                <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                    <label class="flex flex-col min-w-40 flex-1">
                        <p class="text-[#111418] text-base font-medium leading-normal pb-2">Description</p>
                        <textarea
                            placeholder="Write a few sentences about the product"
                            class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#111418] focus:outline-0 focus:ring-0 border border-[#dbe0e6] bg-white focus:border-[#dbe0e6] min-h-36 placeholder:text-[#60748a] p-[15px] text-base font-normal leading-normal"
                            [(ngModel)]="product.desc"
                        ></textarea>
                    </label>
                </div>
                <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                    <label class="flex flex-col min-w-40 flex-1">
                        <p class="text-[#111418] text-base font-medium leading-normal pb-2">Category</p>
                        <input
                            placeholder="e.g. Clothing"
                            class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#111418] focus:outline-0 focus:ring-0 border border-[#dbe0e6] bg-white focus:border-[#dbe0e6] h-14 placeholder:text-[#60748a] p-[15px] text-base font-normal leading-normal"
                            [(ngModel)]="product.category"
                        />
                    </label>
                </div>
                <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                    <label class="flex flex-col min-w-40 flex-1">
                        <p class="text-[#111418] text-base font-medium leading-normal pb-2">Brand</p>
                        <input
                            placeholder="e.g. Nike"
                            class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#111418] focus:outline-0 focus:ring-0 border border-[#dbe0e6] bg-white focus:border-[#dbe0e6] h-14 placeholder:text-[#60748a] p-[15px] text-base font-normal leading-normal"
                            [(ngModel)]="product.brand"
                        />
                    </label>
                </div>
                <h3 class="text-[#111418] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Media</h3>
                <div class="flex flex-col p-4">
                    <div class="flex flex-col items-center gap-6 rounded-lg border-2 border-dashed border-[#dbe0e6] px-6 py-14">
                        <div class="flex max-w-[480px] flex-col items-center gap-2">
                            <p class="text-[#111418] text-lg font-bold leading-tight tracking-[-0.015em] max-w-[480px] text-center">Upload product images</p>
                            <p class="text-[#111418] text-sm font-normal leading-normal max-w-[480px] text-center">We recommend using high-quality .jpg files less than 5MB each.</p>
                        </div>
                        <button
                            class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#f0f2f5] text-[#111418] text-sm font-bold leading-normal tracking-[0.015em]"
                        >
                            <span class="truncate">Upload images</span>
                        </button>
                        <input
                            type="text"
                            placeholder="Image URL (e.g., https://example.com/image.jpg)"
                            class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#111418] focus:outline-0 focus:ring-0 border border-[#dbe0e6] bg-white focus:border-[#dbe0e6] h-10 placeholder:text-[#60748a] p-[15px] text-sm font-normal leading-normal"
                            [(ngModel)]="product.imageUrl"
                        />
                    </div>
                </div>
                <h3 class="text-[#111418] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Pricing</h3>
                <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                    <label class="flex flex-col min-w-40 flex-1">
                        <p class="text-[#111418] text-base font-medium leading-normal pb-2">Price</p>
                        <input
                            type="number"
                            placeholder="$0.00"
                            class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#111418] focus:outline-0 focus:ring-0 border border-[#dbe0e6] bg-white focus:border-[#dbe0e6] h-14 placeholder:text-[#60748a] p-[15px] text-base font-normal leading-normal"
                            [(ngModel)]="product.price"
                        />
                    </label>
                </div>
                <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                    <label class="flex flex-col min-w-40 flex-1">
                        <p class="text-[#111418] text-base font-medium leading-normal pb-2">Compare at price</p>
                        <input
                            type="number"
                            placeholder="$0.00"
                            class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#111418] focus:outline-0 focus:ring-0 border border-[#dbe0e6] bg-white focus:border-[#dbe0e6] h-14 placeholder:text-[#60748a] p-[15px] text-base font-normal leading-normal"
                            [(ngModel)]="product.salePrice"
                        />
                    </label>
                </div>
                <h3 class="text-[#111418] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Inventory</h3>
                <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                    <label class="flex flex-col min-w-40 flex-1">
                        <p class="text-[#111418] text-base font-medium leading-normal pb-2">SKU (Stock Keeping Unit)</p>
                        <input
                            placeholder="e.g. ABC-123"
                            class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#111418] focus:outline-0 focus:ring-0 border border-[#dbe0e6] bg-white focus:border-[#dbe0e6] h-14 placeholder:text-[#60748a] p-[15px] text-base font-normal leading-normal"
                            [(ngModel)]="product.SKU"
                        />
                    </label>
                </div>
                <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                    <label class="flex flex-col min-w-40 flex-1">
                        <p class="text-[#111418] text-base font-medium leading-normal pb-2">Quantity</p>
                        <input
                            type="number"
                            placeholder="0"
                            class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#111418] focus:outline-0 focus:ring-0 border border-[#dbe0e6] bg-white focus:border-[#dbe0e6] h-14 placeholder:text-[#60748a] p-[15px] text-base font-normal leading-normal"
                            [(ngModel)]="product.quantity"
                        />
                    </label>
                </div>
                <div class="flex max-w-[480px] flex-wrap items-center gap-2 px-4 py-3">
                    <input type="checkbox" id="inStock" [(ngModel)]="product.inStock" class="form-checkbox h-4 w-4 text-[#0c77f2] border-[#dbe0e6] rounded">
                    <label for="inStock" class="text-[#111418] text-base font-medium leading-normal">In Stock</label>
                </div>

                <div class="flex justify-stretch">
                    <div class="flex flex-1 gap-3 flex-wrap px-4 py-3 justify-end">
                        <button
                            class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#f0f2f5] text-[#111418] text-sm font-bold leading-normal tracking-[0.015em]"
                            (click)="resetForm()"
                        >
                            <span class="truncate">Cancel</span>
                        </button>
                        <button
                            class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#0c77f2] text-white text-sm font-bold leading-normal tracking-[0.015em]"
                            (click)="createProduct()"
                        >
                            <span class="truncate">Create product</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>